<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <!-- font awesome for the trashcan icon --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">    
    

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class = "allstarter">
        <div class="logo">
            <img src="images/logo.png" class="header-logo">
            <h1 class="appname">{{{appName}}}</h1>
        </div>
        <nav>
            <ul>
                <!-- conditional rendering based on variables - Is the user logged in?-->
                {{#if loggedIn}}

                    <ol class="homepageoptions">
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout <span>{{user.username}}</span> </a></li>
                           
                    </ol>
                    <div class="user-info">

                        <!-- conditional rendering based on variables -->
                        
                    </div>
                {{else}}
                    <ol class="homepageoptions">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li>
                        <li><a href="/auth/google">Login With Google</a></li>
                        <li><a href="/keyword">Search Post By Keyword</a></li>
                    </ol>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
    </footer>
</body>
</html>
